<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">SIGN UP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="InputEmail1">Email</label>
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" required [(ngModel)]="form.email" name="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="InputPassword1">Password</label>
            <input type="password" class="form-control" id="InputPassword1" required [(ngModel)]="form.password" name="password">
          </div>
          <div class="form-group">
            <label for="InputPhone">Phone</label>
            <input type="text" class="form-control" id="InputPhone" required [(ngModel)]="form.phone" name="phone">
          </div>
          <div class="form-group">
            <label for="InputPicture">Picture</label>
            <input type="text" class="form-control" id="InputPicture" required [(ngModel)]="form.picture" name="picture">
          </div>
          <div class="form-group">
            <label for="InputCode">Referral code (optional)</label>
            <input type="text" class="form-control" id="InputCode" [(ngModel)]="form.referral_code" name="referral_code">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
