/*@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";*/

/* ---------------- main page -------------------------- */

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

main {
  margin-top: 40px;
}

.nav-link {
  color: #fff;
}

.lead span {
  font-weight: bold;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------ form ---------------------------- */

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #2eb82e; /* green */
}

.ng-invalid:not(form).ng-dirty  {
  border-left: 5px solid #ff1a1a; /* red */
}
